@import url("partials/_variables.css");
/************** Fuentes *************/
@import url("fonts.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eee;
    height: 100vh;
    font-family: var(--fuenteParrafo);
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat
}

.wrapper {
    width: 450px;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: var(--fuenteTitulo);
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--colorFondo);
    font-style: italic
}

.h4 {
    font-family: var(--fuenteParrafo);
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--colorFondo);
    color: var(--colorFondo)
}

.input-field:hover {
    color: var(--hoverEnlaces);
    border: 1px solid var(--hoverEnlaces)
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: var(--fuenteParrafo)
}

.fa-eye.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: var(--colorFondo);
    font-weight: 700
}

a:hover {
    text-decoration: none;
    color: var(--hoverEnlaces)
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background: var(--colorFondo);
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid var(--colorFondo)
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    border-radius: 20px;
    background-color: var(--colorFondo);
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

.btn.btn-block:hover {
    background-color: var(--hover);
    font-weight: bold;
    color: #fff;
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }
    .option {
        position: relative;
        padding-left: 22px
    }
    .option label.text-muted {
        font-size: 0.95rem
    }
    .checkmark {
        position: absolute;
        top: 2px
    }
    .option .checkmark:after {
        top: 50%
    }
    #forgot {
        font-size: 0.95rem
    }
}